@page "/servico/imprimir/{id_servico:int}"
@inject HttpClient http
@inject IJSRuntime JSRuntime
@inject IWebHostEnvironment env
@implements IAsyncDisposable
@inject ServicoController _servicoController
@rendermode InteractiveServer
@attribute [Authorize]

<h2><b>Cadastro de Serviços</b></h2>
<h4>Cadastre um novo serviço e mantenha seus dados atualizados</h4>
<EditForm Model="@servico" OnValidSubmit="@Atualizar">
	<DataAnnotationsValidator />
	<hr />
        <div class="row">
            <div class="form-group col-md-8">
                <label>Nome: *</label>
            <InputText type="text" placeholder="" disabled class="form-control" @bind-Value="servico.Nome_ser" />
            </div>
        </div>
        <br />
    

		<div class="row">
            <div class="form-group col-md-2">
                <label>Valor Estimado: *</label>
            <InputNumber id="valorEstimado" placeholder=""  disabled @bind-Value="servico.ValorSugerido_ser" class="form-control" />
            </div>
            
            <div class="form-group col-md-2">
                <label>Tempo Estimado: </label>
            <InputText id="tempoEstimado" placeholder="" disabled @bind-Value="servico.TempoEstimado_ser" class="form-control" />
            </div>
            
            <div class="form-group col-md-2">
                <label>Garantia: </label>
            <InputText id="garantia" placeholder="" disabled @bind-Value="servico.Garantia_ser" class="form-control" />
            </div>
            
            <div class="form-group col-md-2">
                <label>Tipo</label>
                <InputSelect @bind-Value="servico.Tipo_ser" disabled class="form-select">
                    <option value="">--Selecionar--</option>
                    <option value="transferencia">Transferência</option>
                    <option value="cautelar">Cautelar</option>
                    <option value="emplacamento">Emplacamento</option>
                </InputSelect>
            </div>
		</div>


    <br />
    <div class="row">
        <a href="/servicos">
            <button type="button" class="btn btn-danger bi bi-searche">
                Voltar &nbsp <i class="bi bi-arrow-left-circle"></i>
            </button>
        </a>
        <!--<input type="submit" value="Cadastrar"  class="btn btn-success create bi bi-search"/>-->
    </div>
    <br />
    <br />
</EditForm>
@code {
    [Parameter]
    public int id_servico { get; set; }

    string mensagem = "";
    private Servico servico = new Servico();
    private IJSObjectReference? jsModule;

    protected override async  Task OnInitializedAsync()
    {
        try
        {
            servico = await _servicoController.BuscarId(id_servico);
        }catch(Exception ex)
        {
            
        }
    }


	private void Atualizar()
	{

	}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await JSRuntime.InvokeAsync<string>("masksHoraServico.mascaraHoraSer", null);
            }
            catch (Exception ex)
            {
                mensagem = "Erro ao carregar as máscaras " + ex.Message;
                //await JSRuntime.InvokeAsync<string>("modal.showModal", "myModal");
            }

        }
    }

    private void fecharModal(string elementoID)
    {
        servico = new Servico();
        JSRuntime.InvokeAsync<string>("modalFechar.fecharModal", elementoID);
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (jsModule is not null)
        {
            await jsModule.DisposeAsync();
        }
    }
}



<!--Código responsável por exibir o modal de confirmação de cadastro ou de erro.-->

<div class="modal fade show" id="myModal" style="display:none; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro!</h5>
            </div>
            <div class="modal-body">
                <p>@mensagem</p>
            </div>
            <div class="modal-footer">
                <a href="servicos"><button type="button" class="btn btn-primary">Voltar a lista</button></a>
                <button type="button" class="btn btn-primary" @onclick='eventArgs=>fecharModal("myModal")'>Novo</button>
            </div>
        </div>
    </div>
</div>