@page "/financeiro"
<h2><b>Menu Financeiro</b></h2>
<h4>Selecione a opção desejada no menu de funcionalidades</h4>
<hr />

<a href="/caixas">
<button class="btn btn btn-secondary col-md-2" data-toggle="modal" data-target="#modalCad">
    <img height="55" src="/imagens/sistema/caixas.png" />
    <br />
    Caixas 
</button>
</a>

<a href="/recebimentos">
    <button class="btn btn btn-secondary col-md-2" data-toggle="modal" data-target="#modalCad">
        <img height="55" src="/imagens/sistema/recebimento.png" />
        <br />
        Recebimentos
    </button>
</a>

<a href="/pagamentos">
    <button class="btn btn btn-secondary col-md-2" data-toggle="modal" data-target="#modalCad">
        <img height="55" src="/imagens/sistema/Pagamentos.png" />
        <br />
        Pagamentos
    </button>
</a>
<br />
<br />

<a href="despesas">
    <button class="btn btn btn-secondary col-md-2" data-toggle="modal" data-target="#modalCad">
        <img height="55" src="/imagens/sistema/Despesas.png" />
        <br />
        Despesas
    </button>
</a>

<br />
<br />
<a href="/planos">
<button class="btn btn btn-secondary col-md-2" data-toggle="modal" data-target="#modalCad">
    <img height="55" src="/imagens/sistema/Plano de contas.png" />
    <br />
    Plano de Contas
</button>
</a>
<a href="/encargos">
    <button class="btn btn btn-secondary col-md-2" data-toggle="modal" data-target="#modalCad">
        <img height="55" src="/imagens/sistema/taxa 1.png" />
        <br />
        Encargos Bancários
    </button>
</a>

@code {

}
