@page "/relatorios"
<h2><b>Menu de Relatórios</b></h2>
<h4>Selecione o relatório desejado no menu de opções.</h4>
<hr />

<div class="">
    <a href="/relatorios/relatorioVenda">
    <button class="btn btn btn-secondary col-md-2" data-toggle="modal" data-target="#modalCad">
        <img height="55" src="/imagens/sistema/relatorio-de-venda 1.png" />
        <br />
        Relatórios de Venda 
    </button>
    </a>

    <a href="/relatorios/relatorioCaixa">
        <button class="btn btn btn-secondary col-md-2" data-toggle="modal" data-target="#modalCad">
            <img height="55" src="/imagens/sistema/relatorios-de-caixas.png" />
            <br />
            Relatórios de Caixas
        </button>
    </a>


    <a href="/relatorios/relatoriorecebimento">
        <button class="btn btn btn-secondary col-md-2" data-toggle="modal" data-target="#modalCad">
            <img height="55" src="/imagens/sistema/recebimento.png" />
            <br />
            Relatórios de Recebimentos
        </button>
    </a>

    <a href="/relatorios/relatoriopag">
        <button class="btn btn btn-secondary col-md-2" data-toggle="modal" data-target="#modalCad">
            <img height="55" src="/imagens/sistema/Pagamentos.png" />
            <br />
            Relatórios de Pagamentos
        </button>
    </a>

    <a href="/relatorios/relfinanceiro">
        <button class="btn btn btn-secondary col-md-2" data-toggle="modal" data-target="#modalCad">
            <img height="55" src="/imagens/sistema/caixas.png" />
            <br />
            Relatórios Financeiro
        </button>
    </a>

</div>

@code {
    
}
